/_weechat/sec.conf
/_weechat/weechat.log
/_weechat/*.log
/_weechat/*.pem
/_weechat/*.crt
/_weechat/certs
/_weechat/logs
/_weechat/lua.conf
/_weechat/ssl
/_weechat/lua
/_weechat/perl
/_weechat/python
/_weechat/ruby
/_weechat/script
/_weechat/chanstat
/_xmonad/xmonad-x86_64-linux
/_xmonad/xmonad.errors
/_xmonad/xmonad.hi
/_xmonad/xmonad.o
/_emacs.d/auto-save-list
/_emacs.d/elpa
/_emacs.d/eshell

__pycache__
